:root {
    --primary-text-color: #757575;
    --primary-text-second-color: #212121;
    --accent-color: #2196f3;
    --second-accent-color: #188ce8;
    --background-color: #ffffff;
    --background-second-color: #2f303a;
    --background-light-icon: #f5f4fa;
    --icon-color: #afb1b8;
    --icon-background-color: rgba(255, 255, 255, 0.1);
    --background-modal: rgba(0, 0, 0, 0.2);
    --header-line: #ececec;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}