body {
    align-items: center;
    margin: 0;
    font-family: Roboto;
    font-size: 14px;
    color: var(--primary-text-color);
    position: relative;
}
.header-container {
    display: flex;
    align-items: center;
}