.features__item {
  padding: 0;
  margin: 0;

  @media screen and(min-width:1200px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and(min-width:768px), (max-width: 1198px) {
    display: flex;
    flex-wrap: wrap;
   
  }
}

.features__list {
  @media screen and(min-width:1200px) {
    flex-basis: calc(100%-3 * 30) / 4;
    margin-right: 30px;
    &:not(:last-child) {
      margin-right: 0px;
    }
  }

  @media screen and(min-width:768px) and (max-width: 1198px) {
    flex-basis: calc((100% - 3 * 30px) / 2);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
}

/*заголовки*/
.advantage {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-second-color);

  &__description {
    @media screen and(min-width:320px) {
      margin-top: 0;
      margin-bottom: 30px;
    }

    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */

    letter-spacing: 0.03em;

    color: var(--primary-text-color);
  }
}

/*абзац особливостей*/

.icon__container {
  height: 120px;
  background-color: var(--background-light-icon);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.icon__svg {
  width: 70px;
  height: 70px;
}

/*чим займаємося*/
.section__container {
  padding-top: 0;
 }
 @media screen and (max-width:1198px){
  .section__container{
  display: none;}
 }

.heading {  
  margin-top: 0;
  margin-bottom: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-second-color);
}

.product {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.product__list {
  position: relative;
  padding: 0;
  margin: 0px 30px 0px 0px;

  &:last-child {
    margin-right: 0;
  }
}

.product__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.product__text {
  @media screen and (max-width:1198px){
    display: none;}
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--background-color);
  background-color: rgba(47, 48, 58, 0.8);
}
