.page-footer {
  padding: 60px 15px; 
  background: var(--background-second-color);  
  
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  
    @media screen and(min-width:1200px){

      flex-direction: row;
    }
}
.page-footer__pane{
margin-bottom: 60px;
    @media screen and(min-width:1200px){
      margin-bottom: 0;
    }
}
.page-footer__tablet{
  @media screen and(min-width:768px){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.page-footer-address {
  @media screen and(min-width:768px) and (max-width: 1198px) {}

  @media screen and(min-width:1200px) {
  margin-right: 70px;}
}

.page-footer-address__list {
 

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--background-color);
  list-style: none;
  padding-inline-start: 0;
@media screen and(min-width:768px) and (max-width: 1198px) {}

  @media screen and(min-width:1200px){
  margin: 0;
    padding: 0;}
}

.page-footer-address__name {
  text-align: center;
  @media screen and(min-width:768px) and (max-width: 1198px) {}

    @media screen and(min-width:1200px){
      text-align: start;
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}}

.page-footer-address__mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
    text-align: center;
    @media screen and(min-width:768px) and (max-width: 1198px) {}
    
      @media screen and(min-width:1200px){
  }
}}

.page-footer-address__phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.accede {
  margin-bottom: 60px;
  @media screen and(min-width:1200px){
    margin-bottom: 0;
  margin-right: auto;
}}

.accede__text {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--background-color);
  text-align: center;  
   
    @media screen and(min-width:1200px) {
text-align: start;
    }
}