.header{
  
}
.information-nav.studio {
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;   
}

.list.navigation__item {
  padding: 0;
  margin: 0;
}

.navigation__item {
  display: flex;
  
@media screen and(max-width:767px) {
    display: none;}
}

.navigation__list {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.list.mail-tel {
  padding: 0;
  margin: 0;
}

.navigation__studio.link.line::after {
  content: ' ';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

/* контакти */
.navigation__studio {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  color: var(--accent-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__portfo {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-second-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.navigation__contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-second-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.list.contacts {
  margin-right: 0;
}

.contacts {
  @media screen and(max-width:767px) {
      display: none;
    }
  margin: auto;

  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__list {
  display: flex;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }

  &.contacts__icon {
    display: flex;
  }
}

.contacts__mail {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__mail.link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__icon {
  display: block;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  display: flex;
  align-items: center;
}

.contacts__telefon {
  display: block;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts__telefon.link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* ПОРТФОЛІО */

.header.header-line {
  border-bottom: 1px solid var(--header-line);
}

.navigation__studio--noaccent {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-second-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &--noaccent:hover {
    color: var(--accent-color);
  }
  &--noaccent:focus {
    color: var(--accent-color);
  }
}

.navigation__portfo--accent.link.line::after {
  content: ' ';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.navigation__portfo--accent {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--accent-color);
  position: relative;
}
