.hero__container {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.hero__title {
    margin: 0 auto;
    max-width: 696px;
    margin-top: 0;
    margin-bottom: 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */

    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);
}