.team {
  background: #f5f4fa;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-second-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;

  @media screen and(min-width:768px) and (max-width: 1198px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and(max-width:767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width:768px) and (max-width: 1198px) {
    flex-basis: calc((100% - 1 * 30px) / 2);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0px;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }
  @media screen and(min-width:1200px) {
    flex-basis: calc((100% - 3 * 30px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team__photo {
  max-width: 100%;
  height: auto;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-second-color);
}

.team__occupation {
  margin-top: 0;
  margin-bottom: 16px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
